@page
@model HaCongHieuRazorPages.Pages.CategoryManagement.CategoryCreateModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Category Create</title>
    <link rel="stylesheet" href="~/css/CategoryCSS/CategoryCreate.css" />
</head>
<body>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label for="categoryName">Category Name</label>
            <input type="text" class="form-control" id="categoryName" asp-for="category.CategoryName" required>
            <span asp-validation-for="category.CategoryName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="categoryDescription">Category Description</label>
            <textarea class="form-control" id="categoryDescription" rows="3" asp-for="category.CategoryDesciption" required></textarea>
            <span asp-validation-for="category.CategoryDesciption" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/CategoryManagement/CategoryView" class="btn btn-secondary">Back</a>
        </div>
        @if (Model.SuccessMessage != null)
        {
            <div class="alert alert-success">@Model.SuccessMessage</div>
        }
        @if (Model.ErrorMessage != null)
        {
            <div class="alert alert-danger">@Model.ErrorMessage</div>
        }
    </form>
</body>
</html>