@page
@model HaCongHieuRazorPages.Pages.CategoryManagement.CategoryUpdateModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Category Create</title>
    <link rel="stylesheet" href="~/css/CategoryCSS/CategoryUpdate.css" />
</head>
<body>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <input type="hidden" asp-for="category.CategoryId" />

        <div class="form-group">
            <label for="categoryId">Category ID</label>
            <input type="number" class="form-control" id="categoryId" asp-for="category.CategoryId" readonly>
            <span asp-validation-for="category.CategoryId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="categoryName">Category Name</label>
            <input type="text" class="form-control" id="categoryName" asp-for="category.CategoryName" required>
            <span asp-validation-for="category.CategoryName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="categoryDescription">Category Description</label>
            <textarea class="form-control" id="categoryDescription" rows="3" asp-for="category.CategoryDesciption" required></textarea>
            <span asp-validation-for="category.CategoryDesciption" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>